{% extends 'base.html' %} {% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row separate-row">
                                    <div class="col-sm-6">
                                        <div class="job-icon pb-4 d-flex justify-content-between">
                                            <div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <h2 class="mb-0">342</h2>
                                                    <span class="text-success ms-3">+0.5 %</span>
                                                </div>
                                                <span class="fs-14 d-block mb-2">Interview Schedules</span>
                                            </div>
                                            <div id="NewCustomers"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="job-icon pb-4 pt-4 pt-sm-0 d-flex justify-content-between">
                                            <div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <h2 class="mb-0">984</h2>
                                                </div>
                                                <span class="fs-14 d-block mb-2">Application Sent</span>
                                            </div>
                                            <div id="NewCustomers1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card " id="user-activity">
                            <div class="card-header border-0 pb-0 flex-wrap">
                                <h4 class="fs-20 mb-1">Vacany Stats</h4>
                                <div class="card-action coin-tabs mt-3 mt-sm-0">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link " data-bs-toggle="tab" href="#Daily" role="tab">Daily</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " data-bs-toggle="tab" href="#weekly" role="tab">Weekly</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#monthly" role="tab">Monthly</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pb-4 d-flex flex-wrap">
                                    <span class="d-flex align-items-center">
                                        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                          <rect  width="13" height="13" rx="6.5" fill="#35c556"/>
                                        </svg>
                                        Application Sent	
                                    </span>
                                    <span class="application d-flex align-items-center">
                                        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                          <rect  width="13" height="13" rx="6.5" fill="#3f4cfe"/>
                                        </svg>

                                        Interviews	
                                    </span>
                                    <span class="application d-flex align-items-center">
                                        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                          <rect  width="13" height="13" rx="6.5" fill="#f34040"/>
                                        </svg>

                                        Rejected
                                    </span>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="Daily">
                                        <canvas id="activity" height="115"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- start carousel,timeline  -->
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">Timeline</h4>
                            </div>
                            <div class="card-body">
                                <div id="DZ_W_TimeLine" class="widget-timeline dlab-scroll height370">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>10 minutes ago</span>
                                                <h6 class="mb-0">Muhammad Hazieq applied as new job position for Data Analyst</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge info">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>20 minutes ago</span>
                                                <h6 class="mb-0">Muhammad Hazieq applied as new job position for Data Analyst </h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>30 minutes ago</span>
                                                <h6 class="mb-0">Muhammad Hazieq applied as new job position for Data Analyst </h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge success">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>15 minutes ago</span>
                                                <h6 class="mb-0">Muhammad Hazieq applied as new job position for Data Analyst </h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge warning">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>20 minutes ago</span>
                                                <h6 class="mb-0">Muhammad Hazieq applied as new job position for Data Analyst </h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge dark">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>20 minutes ago</span>
                                                <h6 class="mb-0">Muhammad Hazieq applied as new job position for Data Analyst </h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header pb-0 border-0 flex-wrap">
                        <h4 class="fs-20 mb-3">Upcoming Dateline</h4>
                    </div>
                    <div class="card-body ">
                        <div class="owl-carousel front-view-slider owl-theme owl-page">
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2769ee"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">Data Analyst</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#ee27c0"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">Accounting</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2db532"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">Finance</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2769ee"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">SOC Design</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2769ee"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">BIOS Firmware</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2769ee"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">Software Engineer</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2769ee"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">Audit</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#ee27c0"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">NLP Engineer</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="jobs">
                                    <div class="text-center">
                                        <span>
                                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71">
                                              <g  transform="translate(-457 -443)">
                                                <rect  width="71" height="71" rx="12" transform="translate(457 443)" fill="#c5c5c5"/>
                                                <g  transform="translate(457 443)">
                                                  <rect  data-name="placeholder" width="71" height="71" rx="12" fill="#2db532"/>
                                                  <circle  data-name="Ellipse 12" cx="18" cy="18" r="18" transform="translate(15 20)" fill="#fff"/>
                                                  <circle  data-name="Ellipse 11" cx="11" cy="11" r="11" transform="translate(36 15)" fill="#ffe70c" style="mix-blend-mode: multiply;isolation: isolate"/>
                                                </g>
                                              </g>
                                            </svg>
                                        </span>
                                        <h4 class="mb-0">E&E Engineer</h4>
                                    </div>
                                    <div>
                                        <!-- <span class="d-block mb-1"><i class="fas fa-map-marker-alt me-2"></i>Manchester, England</span> -->
                                        <!-- <span><i class="fas fa-comments-dollar me-2"></i>$ 2,000 - $ 2,500</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}