{% extends 'base.html' %} {% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="d-flex align-items-center mb-4 flex-wrap">
            <h4 class="fs-20 font-w600 me-auto">Job Application</h4>
            <div>
                <a href="new-job.html" class="btn btn-primary me-3 btn-sm"><i class="fas fa-plus me-2"></i>Add New Job</a>
                <a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"> <i class="fas fa-envelope"></i></a>
                <a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"><i class="fas fa-phone-alt"></i></a>
                <a href="javascript:void(0);" class="btn btn-secondary btn-sm"><i class="fas fa-info"></i></a>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="table-responsive">
                    <table class="table display mb-4 dataTablesCard job-table table-responsive-xl card-table" id="example5">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Position</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Applied On</th>
                                <th>Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if jobApply|length == 0 %}
                            <th colspan="8" class="text-center">
                                <h3 style="color: red;">No Records found</h3>
                            </th>
                            {% endif %} {% for item in jobApply %}
                            <tr>
                                {% set index = loop.index %}
                                <td>{{index}}</td>
                                <td class="wspace-no">Database analyst</td>
                                <td>{{user[loop.index-1]["fullName"]}}</td>
                                <td>{{user[loop.index-1]["email"]}}</td>
                                <td>{{user[loop.index-1]["phoneNo"]}}</td>
                                <td>{{item["date"]}}</td>
                                <td>
                                    <div class="btn-group dropend">
                                        {% if item["applicantStatus"] == "rejected" %} {% set btn,status ="btn-danger","Rejected" %} {% elif item["applicantStatus"] == "pending" %} {% set btn,status ="btn-warning","Pending" %} {% else %} {% set btn,status ="btn-success","Selected" %} {% endif
                                        %}
                                        <button id={{index}} type="button" class="btn btn-sm btn-rounded dropdown-toggle {{btn}}" data-bs-toggle="dropdown">
                                            {{status}}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" onclick="checkID(this,'{{ index }}','btn-warning')"><span class="btn btn-warning btn-sm btn-rounded">Pending</span></a>
                                            <a class="dropdown-item" onclick="checkID(this,'{{ index }}','btn-danger')"><span class="btn btn-danger btn-sm btn-rounded">Rejected</span></a>
                                            <a class="dropdown-item" onclick="checkID(this,'{{ index }}','btn-success')"><span class="btn btn-success btn-sm btn-rounded">Selected</span></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="action-btn wspace-no">
                                    <span>
                                        <a href="javascript:void(0);"><i class="fas fa-check text-success"></i></a>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0);"><i class="fas fa-times text-danger"></i></a>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0);"><i class="fas fa-eye"></i></a>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0);"><i class="far fa-trash-alt text-danger"></i></a>
                                    </span>
                                    <span>
                                        <a href="javascript:void(0);"><i class="fas fa-download text-warning"></i></a>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-end">
                            <li class="page-item page-indicator">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="la la-angle-left"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item page-indicator">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="la la-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkID(elem, id, classnameAnchor) {
        var text = elem.text;
        const btn = document.getElementById(id);
        btn.classList.remove('btn-warning', 'btn-danger', 'btn-success');
        // change button color
        btn.classList.add(classnameAnchor);
        // change text
        btn.innerHTML = text;
    }
</script>
{% endblock %}