{% extends 'base.html' %} {% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="d-flex align-items-center mb-4">
            <h4 class="fs-20 font-w600 mb-0 me-auto">New Job</h4>
            <div>
                <a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"> <i class="fas fa-envelope"></i></a>
                <a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"><i class="fas fa-phone-alt"></i></a>
                <a href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="fas fa-info"></i></a>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Title<span class="text-danger scale5 ms-2">*</span></label>
                                <input id="title" type="text" class="form-control solid" placeholder="Name" aria-label="name" name="position" />
                            </div>
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Job Category<span class="text-danger scale5 ms-2">*</span></label>
                                <select id="category" class="form-select form-control solid" name="category">
							  <option selected>Choose...</option>
							  <option>QA Analyst</option>
							   <option>IT Manager</option>
								<option>Systems Analyst</option>
							</select>
                            </div>
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Job Type<span class="text-danger scale5 ms-2">*</span></label>
                                <select id="jobtype" class="form-select form-control solid">
							  <option selected>Choose...</option>
							  <option>Internship/Graduate Trainee</option>
							   <option>Permanent Employee</option>
							</select>
                            </div>
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">No. of Vacancy<span class="text-danger scale5 ms-2">*</span></label>
                                <input id="vacancy" type="text" class="form-control solid" placeholder="Name" aria-label="name">
                            </div>
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Select Experience<span class="text-danger scale5 ms-2">*</span></label>
                                <select id="experience" class="form-select form-control solid">
                                    <option selected>None</option>
                                    <option>1 yr</option>
                                    <option>3 Yr</option>
                                    <option>more than 5 years</option>
                                    </select>
                            </div>
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Close Date<span class="text-danger scale5 ms-2">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                    <input id="date" size="16" type="date" class="form-control form_datetime solid">
                                </div>
                            </div>
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Salary From</label>
                                <input id="salaryFrom" type="number" class="form-control solid" placeholder="$" aria-label="name">
                            </div>
                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Salary To</label>
                                <input id="SalaryTo" type="number" class="form-control solid" placeholder="$" aria-label="name">
                            </div>


                            <div class="col-xl-6  col-md-6 mb-4">
                                <label class="form-label font-w600">Qualification<span class="text-danger scale5 ms-2">*</span></label>
                                <input id="qualification" type="text" class="form-control solid" placeholder="Education Level" aria-label="name">
                            </div>
                            <div class="col-xl-12 mb-4">
                                <label class="form-label font-w600">Description:<span class="text-danger scale5 ms-2">*</span></label>
                                <textarea id="description" class="form-control solid" aria-label="With textarea" name="description"></textarea>
                            </div>
                        </div>
                        <div>
                            <span>Status:<label class="radio-inline mx-3"><input id="status1" type="radio" name="optradio" value="active"> Active</label></span>
                            <span><label class="radio-inline me-3"><input id="status2" type="radio" name="optradio" value="inactive"> In Active</label></span>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <div>
                            <button class="btn btn-secondary" onclick="submitNewJobPost()">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#description'
    });
</script>
{% endblock %}