{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}

{% block content %}
<!-- <div class="container">
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Fullname:</td>
            <td>{{ account['fullName'] }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>{{ account['phoneNumber'] }}</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>{{ account['country'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Uploaded File:</td>
            <td><p><img id="output" width="200" /></p></td>
        </tr>
    </table>
</div>
</div> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ account['username'] }}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#messages">CV</a></li>
                <li><a data-toggle="tab" href="#settings">Application Status</a></li>
              </ul>

              
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                      <form class="form" action="##" method="post" id="registrationForm">
                          <div class="form-group">
                              
                              <div class="col-xs-6">
                                  <label for="fullname"><h4>FullName</h4></label>
                                  <span><br> {{ account['fullName'] }}</span>
                              </div>
                          </div>
                          <div class="form-group">
                              
                              <div class="col-xs-6">
                                <label for="username"><h4>Username</h4></label>
                                <span><br> {{ account['username'] }}</span>
                              </div>
                          </div>
              
                          <div class="form-group">
                              
                              <div class="col-xs-6">
                                  <label for="phone"><h4>Phone Number</h4></label>
                                  <span><br> {{ account['phoneNumber'] }}</span>
                              </div>
                          </div>
              
                          <div class="form-group">
                              <div class="col-xs-6">
                                 <label for="email"><h4>Email</h4></label>
                                 <span><br> {{ account['email'] }}</span>
                              </div>
                          </div>
                          <div class="form-group">
                              
                              <div class="col-xs-6">
                                  <label for="country"><h4>Country</h4></label>
                                  <span><br> {{ account['country'] }}</span>
                              </div>
                          </div>
                          <div class="form-group">
                              
                              <div class="col-xs-6">
                                  <label for="currentCompany"><h4>Current Company</h4></label>
                                  <span><br> {{ account['currentCompany'] }}</span>
                              </div>
                          </div>
                          <div class="form-group">
                              
                              <div class="col-xs-6">
                                  <label for="password"><h4>Password</h4></label>
                                  <span><br> {{ account['password'] }}</span>
                              </div>
                          </div>
                          <div class="form-group">
                               <div class="col-xs-12">
                                    <br>
                                        <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-lg btn-success mb-5" data-toggle="modal" data-target="#exampleModalCenter">
                                        Edit
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form" action="##" method="post" id="registrationForm">
                                                    <div class="form-group">
                                                        
                                                        <div class="col-xs-6">
                                                            <label for="first_name"><h4>First name</h4></label>
                                                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="col-xs-6">
                                                          <label for="last_name"><h4>Last name</h4></label>
                                                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group">
                                                        
                                                        <div class="col-xs-6">
                                                            <label for="phone"><h4>Phone</h4></label>
                                                            <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                                        </div>
                                                    </div>
                                        
                                                    <div class="form-group">
                                                        <div class="col-xs-6">
                                                           <label for="mobile"><h4>Mobile</h4></label>
                                                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="col-xs-6">
                                                            <label for="email"><h4>Email</h4></label>
                                                            <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="col-xs-6">
                                                            <label for="email"><h4>Location</h4></label>
                                                            <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="col-xs-6">
                                                            <label for="password"><h4>Password</h4></label>
                                                            <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <div class="col-xs-6">
                                                          <label for="password2"><h4>Verify</h4></label>
                                                            <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                         <div class="col-xs-12">
                                                              <br>
                                                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                                 <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                                          </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                      </form>
                  
                  <hr>
                  
                 </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
               <label for="">Choose Your PDF File</label><br>
               <p id="msg"></p>
                {% for i in data %}{% set index = i['id'] %}
                <div class="row">
                    <div class="col-8">
                        <div id="file_shown{{loop.index}}" name="{{ i['id'] }}">
                            <span><br>{{ i['cv'] }}</span>
                                
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- Button trigger modal -->
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="modal" data-placement="top" title="Edit" data-target="#editbutton{{ i['id'] }}">
                        <i class="fa fa-edit"></i>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="editbutton{{ i['id'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Update File...</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <!-- <form method="POST" action="/updatefile/{{ i['id'] }}" enctype="multipart/form-data">                                     
                                        <input type="file" name="file_name" class="mt-3 mb-3" value="{{ i['cv'] }}">
                                    <input type="submit" value="Update File" class="btn btn-secondary"
                                </form> -->
                                <form method="POST" id="updateform" action="/updatefile/{{ i['id'] }}" enctype="multipart/form-data">                                   
                                        <input type="file" name="file_name" class="mt-3 mb-3">
                                        <!-- <a onclick="updatefile('{{ index }}')" class="btn btn-light">Update</a> -->
                                        <button class="btn btn-light">Update</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                        </div>
                    </div>
                        <a onclick="deletefile('{{ index }}')" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                {% endfor %}
                <br>
               <!-- <input id="multiFiles" type="file" name="files[]" value="" multiple="true" autocomplete="off" required><br><br>
               <button id="upload" class="upload mb-5">Upload</button>
                <br>
               <button id="readfile">Readfile</button> -->
               <form method="POST" action="/testupload" enctype="multipart/form-data">
                <input type="file" name="file_name" class="mt-3 mb-3">
                    <div class="input_fields_wrap">                                       
                        <button class="add_field_button">Add More Fields</button>
                    </div>
                    <br>
                    <!-- <a onclick="addcv()" class="btn">Submit</a> -->
                    <button>Submit</button>
                </form>
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">
            		
                  <hr>
                  
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

<script>
    $(document).ready(function (e) {
        $('[data-toggle="tooltip"]').tooltip();

        var max_fields      = 10; //maximum input boxes allowed
		var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
		var add_button      = $(".add_field_button"); //Add button ID
		
		var x = 1; //initlal text box count
		$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
			if(x < max_fields){ //max input box allowed
				x++; //text box increment
				$(wrapper).append('<div class="input-group mb-3"><br><input type="file" name="file_name"><div class="input-group-append"><button class="btn btn-danger remove_field" type="button">Remove</button></div></div>'); //add input box
			}
		});
		
		$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
			e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
			})

        });

        function deletefile(fileid) {
            console.log('deletefile')
            Swal.fire({
                title: 'Do you want to delete this file?',
                showDenyButton: true,
                denyButtonText: `No`,
                confirmButtonText: 'Yes',
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/deletefile",
                            type: "POST",
                            data: {
                                'fileid': fileid
                            },
                            success: function (response, errorThrown) {
                                if(response == 'success'){
                                    Swal.fire('File Deleted Successfully', '', 'success').then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }else {
                                    console.log('testfailed')
                                    Swal.fire(
                                        'Fail!',
                                        'Error occured in deleting. Please try again after a few minute',
                                        'error',
                                    ).then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }
                            },
                            error: function (data, message, errorThrown) {
                                console.log(errorThrown);
                                console.log("failed");
                                location.reload();
                            },
                        });
                } 
            })
        }

        function updatefile(fileid) {
            var id = document.getElementById("updateform");
            formdata= new FormData(id);
            console.log(formdata);
            Swal.fire({
                title: 'Do you want to update this file?',
                showDenyButton: true,
                denyButtonText: `No`,
                confirmButtonText: 'Yes',
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/updatefile",
                            type: "POST",
                            data: {
                                'fileid': fileid
                            },
                            success: function (response, errorThrown) {
                                if(response == 'success'){
                                    Swal.fire('File Deleted Successfully', '', 'success').then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }else {
                                    console.log('testfailed')
                                    Swal.fire(
                                        'Fail!',
                                        'Error occured in deleting. Please try again after a few minute',
                                        'error',
                                    ).then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }
                            },
                            error: function (data, message, errorThrown) {
                                console.log(errorThrown);
                                console.log("failed");
                                location.reload();
                            },
                        });
                } 
            })
        }

        function addcv() {
            console.log('addcvsuccess')
            $.ajax({
                url: "/testupload",
                type: "POST",
                success: function (response, errorThrown) {
                    if(response == 'success'){
                        Swal.fire('CV Added Successfully', '', 'success').then((result) => {
                            if (result.isConfirmed) {
                                location.reload()
                            } else {
                                location.reload()
                            }
                        })
                    }else {
                        console.log('testfailed')
                        Swal.fire(
                            'Fail!',
                            'Error occured in deleting. Please try again after a few minute',
                            'error',
                        ).then((result) => {
                            if (result.isConfirmed) {
                                location.reload()
                            } else {
                                location.reload()
                            }
                        })
                    }
                },
                error: function (data, message, errorThrown) {
                    console.log(errorThrown);
                    console.log("failed");
                    location.reload();
                },
            });
        }
</script>
                                                      
{% endblock %}