{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}

{% block content %}
<main>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" style="color:rgb(0, 0, 0)" href="{{ url_for('profilepage') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:rgb(0, 0, 0)" href="{{ url_for('profilecv') }}">CV</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:rgb(0, 0, 0)" href="{{ url_for('appstatus') }}">Application Status</a>
                    </li>
                  </ul>
                  <hr>
            </div>
        </div>
        <div class="row">
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="fullname"><h4>FullName</h4></label>
                        <span><br> {{ account['fullName'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                      <label for="username"><h4>Username</h4></label>
                      <span><br> {{ account['username'] }}</span>
                    </div>
                </div>
    
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="phone"><h4>Phone Number</h4></label>
                        <span><br> {{ account['phoneNumber'] }}</span>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-xs-6">
                       <label for="email"><h4>Email</h4></label>
                       <span><br> {{ account['email'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="country"><h4>Country</h4></label>
                        <span><br> {{ account['country'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="currentCompany"><h4>Current Company</h4></label>
                        <span><br> {{ account['currentCompany'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="password"><h4>Password</h4></label>
                        <span><br> {{ account['password'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                     <div class="col-xs-12">
                          <br>
                              <!-- Button trigger modal -->
                          <button type="button" class="btn btn-lg btn-success mb-5" data-toggle="modal" data-target="#exampleModalCenter">
                              Edit
                          </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  </div>
                                  <div class="modal-body">
                                      <form class="form" action="##" method="post" id="registrationForm">
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="first_name"><h4>First name</h4></label>
                                                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                <label for="last_name"><h4>Last name</h4></label>
                                                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                              </div>
                                          </div>
                              
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="phone"><h4>Phone</h4></label>
                                                  <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                              </div>
                                          </div>
                              
                                          <div class="form-group">
                                              <div class="col-xs-6">
                                                 <label for="mobile"><h4>Mobile</h4></label>
                                                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="email"><h4>Email</h4></label>
                                                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="email"><h4>Location</h4></label>
                                                  <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="password"><h4>Password</h4></label>
                                                  <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                <label for="password2"><h4>Verify</h4></label>
                                                  <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                               <div class="col-xs-12">
                                                    <br>
                                                      <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                       <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                                </div>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </div>
                </div>
            </form>
        </div>
    </div>
    <script>
    $(document).ready(function (e) {
        $('[data-toggle="tooltip"]').tooltip();

        var max_fields      = 10; //maximum input boxes allowed
		var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
		var add_button      = $(".add_field_button"); //Add button ID
		
		var x = 1; //initlal text box count
		$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
			if(x < max_fields){ //max input box allowed
				x++; //text box increment
				$(wrapper).append('<div class="input-group mb-3"><br><input type="file" name="file_name"><div class="input-group-append"><button class="btn btn-danger remove_field" type="button">Remove</button></div></div>'); //add input box
			}
		});
		
		$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
			e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
			})

        });

        function deletefile(fileid) {
            console.log('deletefile')
            Swal.fire({
                title: 'Do you want to delete this file?',
                showDenyButton: true,
                denyButtonText: `No`,
                confirmButtonText: 'Yes',
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/deletefile",
                            type: "POST",
                            data: {
                                'fileid': fileid
                            },
                            success: function (response, errorThrown) {
                                if(response == 'success'){
                                    Swal.fire('File Deleted Successfully', '', 'success').then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }else {
                                    console.log('testfailed')
                                    Swal.fire(
                                        'Fail!',
                                        'Error occured in deleting. Please try again after a few minute',
                                        'error',
                                    ).then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }
                            },
                            error: function (data, message, errorThrown) {
                                console.log(errorThrown);
                                console.log("failed");
                                location.reload();
                            },
                        });
                } 
            })
        }

        function updatefile(fileid) {
            var id = document.getElementById("updateform");
            formdata= new FormData(id);
            console.log(formdata);
            Swal.fire({
                title: 'Do you want to update this file?',
                showDenyButton: true,
                denyButtonText: `No`,
                confirmButtonText: 'Yes',
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/updatefile",
                            type: "POST",
                            data: {
                                'fileid': fileid
                            },
                            success: function (response, errorThrown) {
                                if(response == 'success'){
                                    Swal.fire('File Deleted Successfully', '', 'success').then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }else {
                                    console.log('testfailed')
                                    Swal.fire(
                                        'Fail!',
                                        'Error occured in deleting. Please try again after a few minute',
                                        'error',
                                    ).then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload()
                                        } else {
                                            location.reload()
                                        }
                                    })
                                }
                            },
                            error: function (data, message, errorThrown) {
                                console.log(errorThrown);
                                console.log("failed");
                                location.reload();
                            },
                        });
                } 
            })
        }

        function addcv() {
            console.log('addcvsuccess')
            $.ajax({
                url: "/testupload",
                type: "POST",
                success: function (response, errorThrown) {
                    if(response == 'success'){
                        Swal.fire('CV Added Successfully', '', 'success').then((result) => {
                            if (result.isConfirmed) {
                                location.reload()
                            } else {
                                location.reload()
                            }
                        })
                    }else {
                        console.log('testfailed')
                        Swal.fire(
                            'Fail!',
                            'Error occured in deleting. Please try again after a few minute',
                            'error',
                        ).then((result) => {
                            if (result.isConfirmed) {
                                location.reload()
                            } else {
                                location.reload()
                            }
                        })
                    }
                },
                error: function (data, message, errorThrown) {
                    console.log(errorThrown);
                    console.log("failed");
                    location.reload();
                },
            });
        }
</script>
</main>
{% endblock %}