{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<main>
	<div class="container">
		<div class="row">
			<h1>Register</h1>
		</div>
		<div class="row">
			<div class="register">
				<br><label for="fullname">
					Fullname
				</label>
				<input type="text" class="form-control" name="fullName" placeholder="Fullname" id="fullname" ><br>
				<div id="validate_username" style="display: none">Please input this field</div>
				<label for="username">
					Username
				</label>
				<input type="text" class="form-control" name="username" placeholder="Username" id="username" ><br>
				<label for="password">
					Password
				</label>
				<input type="password" class="form-control" name="password" placeholder="Password" id="password" ><br>
				<label for="email">
					Email
				</label>
				<input type="email" class="form-control" name="email" placeholder="Email" id="email" ><br>
				<label for="phonenumber">
					Phone Number
				</label>
				<input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" id="phonenumber" ><br>
				<label for="country">
					Country
				</label>
				<input type="text" class="form-control" name="country" placeholder="Country" id="country" ><br>
				<label for="currentCompany">
					Current Company
				</label>
				<input type="text" class="form-control" name="currentCompany" placeholder="Current Company" id="currentCompany" ><br>

				
				
				<br><label for="skills">
					Skills
				</label>
				<input type="text" class="form-control" name="skills" placeholder="Skills" id="skills" ><br>
				<div class="resume">
				<p class="text-left">Please insert your CV</p>
				</div>
				<!-- Insert Resume  -->
				<div class="row">
					<div class="col-md-8">
						<form action="" method="post">
							<div class="input_fields_wrap ml-3">                                       
							<button class="add_field_button">Add More Fields</button>
							<input type="file" name="file" class="mt-3 mb-3">
							</div>
						</form>
					</div>
					</div>
				
				<div class="msg">{{ msg }}</div>
				<button class="btn" name="register">Register</button>
				<!-- <input type="submit" value="Register" class="ml-3 mb-3"> -->
		</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
		var max_fields      = 10; //maximum input boxes allowed
		var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
		var add_button      = $(".add_field_button"); //Add button ID
		
		var x = 1; //initlal text box count
		$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
			if(x < max_fields){ //max input box allowed
				x++; //text box increment
				$(wrapper).append('<div class="input-group mb-3"><input type="file" name="file"><div class="input-group-append"><button class="btn btn-danger remove_field" type="button">Remove</button></div></div>'); //add input box
			}
		});
		
		$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
			e.preventDefault(); $(this).parent('div').parent('div').remove(); x--;
			})
		});
		
		
	</script>

</main>
{% endblock %}